body, html {
  height:100%;
}

.par-1 {
  background: url("/Users/judson/Turing/2module/practice/choose_your_own_adventure/5750642-city-wallpapers.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  color: white;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.text {
  height: 150px;
  background-color: white;
  text-align: center;
  padding: 100px 0 0 0;
}

.par-2 {
  background: url("/Users/judson/Turing/2module/practice/choose_your_own_adventure/5750664-city-wallpapers.jpg") 50% 0 no-repeat fixed;
  min-height: 800px;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 200;
  max-width: 1900px;
  width: 100%;
  overflow: hidden;
}